[submodule "CosyVoice"]
	path = CosyVoice
	url = https://github.com/lingjie2098/CosyVoice.git
	branch = for_macOS
[submodule "F5-TTS"]
	path = F5-TTS
	url = https://github.com/lingjie2098/F5-TTS.git
	branch = for_macOS
[submodule "FunClip"]
	path = FunClip
	url = https://github.com/lingjie2098/FunClip.git
	branch = for_macOS
[submodule "pyvideotrans"]
	path = pyvideotrans
	url = https://github.com/lingjie2098/pyvideotrans.git
	branch = for_macOS
